
link(rel="stylesheet" href="../res/css/dataview.css")
div(dataview)#dataview
	.ui.vertical.inverted.blue.icon.menu#dataview-settings
		a.item(href="#/dataview/{{dataview.values.dbKey}}/edit")
			i.pencil.icon
		a.item(ng-click="dataview.update()")
			i.save.icon
	div(ng-repeat="dataDocument in dataview.values.dataDocuments")
		div(ng-repeat="viewPoint in dataDocument.viewPoints")
			div(ng-if="viewPoint.selector == 'linechart'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					linechart(values="viewPoint")
			div(ng-if="viewPoint.selector == 'horizonchart'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					horizonchart(values="viewPoint")
			div(ng-if="viewPoint.selector == 'tableview'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					tableview(values="viewPoint")
			div(ng-if="viewPoint.selector == 'videoview'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					videoview(values="viewPoint")
			div(ng-if="viewPoint.selector == 'annotationlog'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					annotationlog(values="viewPoint")
			div(ng-if="viewPoint.selector == 'barchart'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					barchart(values="viewPoint")
			div(ng-if="viewPoint.selector == 'mapview'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					mapview(values="viewPoint")
			div(ng-if="viewPoint.selector == 'genericview'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					genericview(values="viewPoint")
			div(ng-if="viewPoint.selector == 'piechart'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					piechart(values="viewPoint")
			div(ng-if="viewPoint.selector == 'carinstruments'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					carinstruments(values="viewPoint")
			div(ng-if="viewPoint.selector == 'steeringwheel'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					steeringwheel(values="viewPoint")
			div(ng-if="viewPoint.selector == 'speedview'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					speedview(values="viewPoint")
			div(ng-if="viewPoint.selector == 'connector'")
				div.zoomTarget(id="{{viewPoint.domID}}", style="position:absolute; left:{{$index*5+15}}em; top:{{$index*7+5}}em", data-debug="true", data-targetsize="1.0")
					connector(values="viewPoint")