.group {
  margin-bottom: 1em; }

.axis {
  font: 10px sans-serif;
  pointer-events: none;
  z-index: 2; }

.axis text {
  -webkit-transition: fill-opacity 250ms linear; }

.axis path {
  display: none; }

.axis line {
  stroke: black;
  shape-rendering: crispEdges; }

.axis.top {
  background-image: linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  top: 0px; }

.axis.bottom {
  background-image: linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0px; }

.horizon {
  border-bottom: solid 1px black;
  overflow: hidden;
  position: relative; }

.horizon {
  border-top: solid 1px black;
  border-bottom: solid 1px black; }

.horizon + .horizon {
  border-top: none; }

.horizon canvas {
  display: block; }

.horizon .title, .horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  white-space: nowrap; }

.horizon .title {
  left: 0; }

.horizon .value {
  right: 0; }

.line {
  background: black;
  z-index: 2; }
